git+git://github.com/SpiderOak/flow-python.git@master

# When flowbot becomes public, uncomment the line below
# git+git://github.com/SpiderOak/flowbot.git@master

Flask
flask_hookserver
jinja2
ipaddress
emoji