{
  "username": "WebBot",
  "password": "MyBotsSuperSecretPassword",
  "org_id": "ABCDEFGHIJKLMNOPQRSTUVWXYZ",
  "display_name": "WebBotRulesTheWorld",
  "biography": "I'm just a poor bot; nobody loves me..."
}